# Auto detect text files and perform LF normalization
* text=auto

# Jupyter Notebookを除外
*.ipynb linguist-vendored
*.py linguist-vendored

*.py linguist-detectable=false
*.ipynb linguist-detectable=false

